
.read-this {
    text-align: center;
    background-color: #121212 !important;
   
    color: #ffffff !important;
   
    min-height: 100vh;
    padding: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.read-this {
    border: 2px solid #555 !important;
  
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

.read-this h2 {
    color: #fff !important;
    
    margin-bottom: 10px;
}


.top-rank {
    border: 2px solid #f7b718 !important;
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.top-rank h2 {
    color: #f7b718 !important;
  
    margin-bottom: 15px;
}