.title-container {
    padding: 20px;
}

.title-list {
    text-align: center;
    background-color: #121212 !important;
    /* Asegura que el color de fondo sea aplicado */
    color: #ffffff !important;
    /* Asegura que el color del texto sea blanco */
    min-height: 100vh;
    padding: 20px;
}