/* Estilos para el contenedor principal */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #333;
    color: white;
  }
  
  /* Estilos para el papel (Paper) */
  .paper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background-color: #424242;
    color: white;
    width: 100%;
  }
  
  /* Estilos para el avatar */
  .avatar {
    margin: 8px;
  }
  
  /* Estilos para los botones */
  .button {
    margin: 8px;
  }
  
  /* Estilos para los libros favoritos */
  .favoriteBooks {
    margin-top: 24px;
    width: 70%;
  }
  
  /* Estilos para los cards de libros */
  .bookCard {
    padding: 16px;
    border: 1px solid #ccc;
    background-color: #616161;
  }
  
  /* Estilos para el temporizador */
  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  
  /* Estilos para el contenedor del perfil */
  .profileContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
  }
  
  /* Estilos para los comentarios */
  .comments {
    background-color: #424242;
    padding: 16px;
    margin-top: 24px;
    width: 50%;
  }
  
  /* Estilos para el card de links */
  .linkCard {
    background-color: #424242;
    padding: 16px;
    margin-top: 24px;
    color: white;
    flex: 1;
    margin-left: 16px;
    width: 30%;
  }
  
  /* Estilos para los links */
  .link {
    color: #1976d2; /* Ejemplo de color primario */
    margin-top: 12px;
    margin-bottom: 12px;
  }
