.category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.category-form-control {
    width: 100%;
}

.category-select-label {
    font-size: 1.2rem;
    /* Increased font size */
    font-weight: bold;
    /* Make the label bold */
}

.category-select {
    width: 100%;
    background-color: white;
    border-radius: 8px;
}

.category-select .MuiOutlinedInput-root {
    fieldset {
        border-color: #dddddd;
    }

    &:hover fieldset {
        border-color: #cccccc;
    }

    &.Mui-focused fieldset {
        border-color: #bbbbbb;
    }
}